<div class="chart-area">

	<div class="chart-header">
		<span uib-dropdown>
		    <a class="btn btn-default" uib-dropdown-toggle>{{ctrl.co.chart.selected || 'select a plot...'}} <span class="caret"></span> </a>
		    <ul uib-dropdown-menu>
		        <li ng-repeat="item in ctrl.co.chart.plots track by $index"><span ng-click='ctrl.co.chart.selectPlot($index)'>{{item}}</span></li>
		    </ul>
		</span>
		<span class="btn btn-default" ng-click='ctrl.co.onClick()'>compare with</span>
	</div>

	<div class="chart-body">
		<div class="chart-element">
			<div google-chart chart="ctrl.co.chart.chart" style="height:300px; width:570px; border: 1px solid #fff;"></div>
		</div>
	</div>

</div>