
.chart-area {
    //max-width: 670px;
   	max-width: 750px;
    padding-bottom: 8px;

	.chart-header {

	    background-color: rgb(221, 221, 221);        
	    background-color: rgba(221, 221, 221, 0.3);
	    border: 1px solid #ddd;        
    	font-size: 150%;
	    //max-width: 670px;
	    //overflow: hidden;
		padding-top: 8px;
    	padding-left: 8px;
    	padding-bottom: 8px;
	    position: relative;

	}

	.chart-body {
		border: 1px solid #ddd;
	}	
}

// .chart-area.ng-hide-add, .chart-area.ng-hide-remove {
// 	animation: bounceIn 0.5s;
// }

// .chart-area.ng-hide {
//   line-height: 0;
//   opacity: 0;
// }

// /* The element to apply the animation to */
// div {
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     animation-name: example;
//     animation-duration: 4s;
// } 

// .chart-area.ng-hide-add, .chart-area.ng-hide-remove {
//   -webkit-transition: all linear 1.5s;
//   transition: all linear 1.5s;
// }

// .chart-area.ng-hide {
//   line-height: 0;
//   opacity: 0;
//   //padding: 0 10px;
// }
