<div class="panel-area" ng-if='ctrl.obj.api.getMode() === "view"'>

	<list-viewer-v3
		iface='ctrl.obj.patientsListInterface'>
	</list-viewer-v3>

</div>

<div class="panel-area" ng-if='ctrl.obj.api.getMode() === "edit"'>

	<div class="panel-header">
		<div class="patient-info">
			<img ng-src="{{ctrl.obj.selectedPatient.image | defaultPatient }}" height='100px' width='100px'></img>
			<div class="user-details">
				<div class="name">
					{{ctrl.obj.selectedPatient.first}} {{ctrl.obj.selectedPatient.last}}
				</div>
				<div class="features">
					<p>Weight: {{ctrl.obj.selectedPatient.weight | number: 2}}</p>
					<p>Gender: {{ctrl.obj.selectedPatient.gender}}</p>
					<p>Height: {{ctrl.obj.selectedPatient.height}}</p>
				</div> 
			</div>
		</div>
	</div>

 	<div class="panel-header">
 		<ul target="panel-buttons">
 			<li>
				<div class="btn btn-default" ng-click='ctrl.obj.api.setViewMode()' style="float : left;">
					<span class="glyphicon glyphicon-th-list faded-glyph"></span> back to patients view
				</div>
			</li>
			<li>			
				<div class="btn-group" style="float: right;">
					<div class="btn btn-default" ng-click='ctrl.obj.api.setViewMode()' ng-disabled='true'>
						<span class="glyphicon glyphicon-pencil faded-glyph"></span> edit patient
					</div>
					<div class="btn btn-default" ng-disabled="true">&nbsp;</div>					
					<div class="btn btn-default" ng-click='ctrl.obj.api.setViewMode()' ng-disabled='true'>
						<span class="glyphicon glyphicon-pencil faded-glyph"></span> show notes
					</div>
<!-- 					<div class="btn btn-default" ng-disabled="true">&nbsp;</div>					
					<div class="btn btn-default" ng-click='ctrl.obj.api.downloadData()' ng-disabled='false'>
						<span class="glyphicon glyphicon-pencil faded-glyph"></span> download data
					</div>
 -->				
 				</div>
			</li>
		</ul>
	</div>

	<div>
		<ul class="header-titles">
			<li ng-class="{'selected' : ctrl.obj.api.isSleepsMode()}"><a ng-click='ctrl.obj.api.setSleepsMode()'>Sleeps</a></li>
			<li ng-class="{'selected' : ctrl.obj.api.isStepsMode()}"><a ng-click='ctrl.obj.api.setStepsMode()'>Steps</a></li>
		</ul>
	</div>

 	<div ng-show='ctrl.obj.api.isSleepsMode()'>
		<chart-v3 
			iface='ctrl.obj.sleepsChartInterface'>
		</chart-v3>

		<list-viewer-v3
			iface='ctrl.obj.sleepsListInterface'>
		</list-viewer-v3>
	</div>

	<div ng-show='ctrl.obj.api.isStepsMode()'>

		<chart-v3 
			iface='ctrl.obj.movesChartInterface'>
		</chart-v3>

		<list-viewer-v3
			iface='ctrl.obj.movesListInterface'>
		</list-viewer-v3>

	</div>

<!--  	<notes-viewer 
		obj=''
	</notes-viewer>
 -->

</div>