<div class="notes-element-style" ng-class="{'active' : ctrl.obj.api.getAPI().selected, 'deleteMode' : ctrl.obj.api.getAPI().deleteMode }"
	ng-click="ctrl.obj.api.getAPI().onClick()">
	<span>{{ctrl.obj.api.getData().creationDate | date}}</span>
	<span>{{ctrl.obj.api.getData().owner.profile.first}} {{ctrl.obj.api.getData().owner.profile.last}}</span>
	<div style="clear: both;"></div>
	<span><minifier text='ctrl.obj.api.getData().text' limit='60'></minifier></span>
<!-- 	<div style="float: right;" class="btn btn-primary-outline glyphicon glyphicon-remove faded-glyph" ng-click="ctrl.obj.element.delete()"></div> -->
	<div ng-show='ctrl.obj.api.getAPI().deleteMode' class="delete-widget pulser-anim">
		<p><span class="glyphicon glyphicon-remove faded-glyph"></span></p>
	</div> 
	<div ng-show='ctrl.obj.api.getAPI().confirmDeleteMode' class="notes-delete-confirm-widget slider-anim" visible-click-elsewhere='ctrl.obj.api.getAPI().cancel($event)'>
		<span class="btn btn-default" ng-click='ctrl.obj.api.getAPI().delete($event)'>confirm</span>
		<span class="btn btn-default" ng-click='ctrl.obj.api.getAPI().cancel($event)'>cancel</span>
	</div>	
</div>