 <div class="patient-area" ng-if='ctrl.obj.mode === "view"'>

	<listviewer
		obj='ctrl.obj.patientViewer'>
	</listviewer>

</div>

<div class="patient-area" ng-if='ctrl.obj.mode === "edit"'>

 	<patient-summary
 		obj='ctrl.obj.patientSummary'>
 	</patient-summary>
 	
 	<div ng-if='ctrl.obj.showWindow === true'>
 		<h3>show this</h3>
 	</div>

	<chart obj='ctrl.obj.sleepsChart'></chart>

	<listviewer
		obj='ctrl.obj.sleepsViewer'>
	</listviewer>

 	<notes-viewer 
		obj=''
	</notes-viewer>

</div>