<div class="btn btn-default" ng-click='ctrl.pso.parent.switchView()' style="float : left;">
	<span class="glyphicon glyphicon-th-list" style="opacity: 0.3;"></span> back to patients view
</div>

<div class="btn-group" style="float: right;">
	<div class="btn btn-default" ng-click='ctrl.pso.parent.showPatientNotes()'>
		<span class="glyphicon glyphicon-list-alt"></span> show patient notes
	</div>
	<div class="btn btn-default" g-click='ctrl.pso.parent.downloadToCSV()'>
		<span class="glyphicon glyphicon-stats"></span> download to csv file
	</div>
</div>
<div style="clear: both;"></div>
