<div class="panel-area" ng-if='ctrl.obj.api.getMode() === "view"'>

	<list-viewer-v3
		iface='ctrl.obj.groupList'>
	</list-viewer-v3>

</div>

<div class="panel-area" ng-if='ctrl.obj.api.getMode() === "create"'>

	<div class="btn btn-default" ng-click='ctrl.obj.mode = "view"'>back</div>

	<group-creator
		iface='ctrl.obj.groupCreatorInterface'>
	</group-creator>

</div>

<div class="panel-area" ng-if='ctrl.obj.api.getMode() === "edit"'>
	
	<div class="panel-header">
		<div class="patient-info">
			<img ng-src="{{ctrl.obj.selectedGroup.image | defaultGroup }}" height='100px' width='100px'></img>
			<div class="user-details">
				<div class="name">
					{{ctrl.obj.selectedGroup.name}} <span class="glyphicon glyphicon-lock faded-glyph" ng-show='ctrl.obj.selectedGroup.permissions.canEdit === false'></span>
				</div>
				<div class="features">
					<p>{{ctrl.obj.selectedGroup.description}}</p>
					<p>{{ctrl.obj.selectedGroup.members.length}} members</p>
				</div> 
			</div>
		</div>
	</div>

 	<div class="panel-header">
 		<ul target="panel-buttons">
 			<li>
				<div class="btn btn-default" ng-click='ctrl.obj.api.setViewMode()' style="float : left;">
					<span class="glyphicon glyphicon-th-list faded-glyph"></span> back to groups view
				</div>
			</li>
			<li>			
				<div class="btn-group" style="float: right;">
					<div class="btn btn-default" ng-click='ctrl.obj.api.setViewMode()' ng-disabled='ctrl.obj.selectedGroup.permissions.canEdit === false'>
						<span class="glyphicon glyphicon-pencil faded-glyph"></span> edit group
					</div>
				</div>
				<div style="clear: both;"></div> 	
			</li>
		</ul>
	</div>

	<div>
		<ul class="header-titles">
			<li ng-class="{'selected' : ctrl.obj.api.isPatientView()}"><a ng-click='ctrl.obj.api.setPatientView()'>Patients</a></li>
			<li ng-class="{'selected' : ctrl.obj.api.isAdminView()}"><a ng-click='ctrl.obj.api.setAdminView()'>Admins</a></li>
		</ul>
	</div>

	<patient-mgr-v3 ng-show='ctrl.obj.api.isPatientView()'
		iface='ctrl.obj.patientMgrInterface'>
	</patient-mgr-v3>

	<admin-mgr-v3 ng-show='ctrl.obj.api.isAdminView()'
		iface='ctrl.obj.adminMgrInterface'>
	</admin-mgr-v3>

</div>