.notes-textarea {
	resize: none;
    width: 95%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 4px;
    border-radius: 2px;
    border: 1px solid #ddd;
    display: block;
    margin: auto;
    padding: 3px;
}

.notes-element-style {
	border-radius: 3px;
	background-color: rgb(221, 221, 221);        
	background-color: rgba(221, 221, 221, 0.3);
	border: 1px solid #ddd;        
	padding: 5px;
	margin: 5px;	
	overflow: hidden;
	min-width: 560px;
	min-height: 50px;

	&:hover {
		background: rgba(255, 255, 255, 0.3);
	}

	span {
		float: left;
		min-width: 90px;
	}
}

.active {
	background-color: white;
}

.notes-delete-widget {
	//border: 1px solid black;
	//display: inline-block;
	position: absolute;
	right: 3px;
	top: 3px;
	color: rgba(255, 0, 0, 0.8);
	width: 30px;

	p {
		//font-size: 130%;
		margin: 0px;
		padding: 8px;
	}
}

.notes-delete-confirm-widget {
	position: absolute;
	left: 0px;
	top: 0px;
	//border: 1px solid #ddd;
	span {
		min-width: 275px;
		min-height: 50px;
		margin: 0px;
		opacity: 0.8;
		font-size: 120%;
	}
}
