.notes-textarea {
	resize: none;
    width: 95%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 4px;
    border-radius: 4px;
    border: none;
}

.notes-element-style {
	border-radius: 3px;
	background-color: rgb(221, 221, 221);        
	background-color: rgba(221, 221, 221, 0.3);
	border: 1px solid #ddd;        
	padding: 5px;
	margin: 5px;	
	overflow: hidden;
	min-width: 500px;

	span {
		float: left;
		min-width: 90px;
	}
}

.active {
	background-color: white;
}