<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>  

	    <div class="jumbotron">
	        <h1>Jawbone Viewer</h1>
	        <p>Welcome to Jawbone Viewer App. Log in to see your latest sleep data.</p>
            <a href="/login/jawbone" class="btn"><img src="assets/up2.png" width='50px' height='50px'></img> Login with UP</a>
            <p>Login as supervisor to manage patients</p>
            <a href="/login/superuser" class="btn"><img src="assets/st.png" width='50px' height='50px'></img> Login as supervisor</a>
	    </div>
	  	
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>