<!DOCTYPE html>
<html lang="en" ng-app="jawboneGatewayApp">
<head>
    <% include ../partials/head %>
</head>
<body class="container" ng-style="{ 'background-image': 'url(assets/bandsOpac.png)' }">

    <header>
        <% include ../partials/header %>
    </header>

    <% if (message && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div ui-view><div>

    <script type="text/javascript" src="scripts/vendor.js"></script>
    <script>
        angular.module('PreloadedData', [])
            .constant('ServerMessage', <%- JSON.stringify(message) %>);
    </script>

    <script type="text/javascript" src="scripts/jawbone-app.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>