<!DOCTYPE html>
<html lang="en" ng-app="jawboneSUApp">
<head>
    <% include ../partials/head %>
</head>
<body class="container" ng-style="{ 'background-image': 'url(assets/oobe_background_tile.png)' }">

  <header>
    <% include ../partials/header %>
  </header>

  <main>

    <div class="jumbotron">
      
      <h1>Jawbone Sleep Monitor</h1>
      <p>Login to see your sleep data or login to manage your patients</p>

      <a href='/userdata'>
        <div class="btn btn-default">
          <p>login as user</p>
          <img src='assets\sleeping.png' width='200' height='200' />
        </div>
      </a>
      <a href='/superuser'>
        <div class="btn btn-default">
          <p>login as administrator</p>
          <img src='assets\admin.png' width='200' height='200' />
        </div>
      </a>
    </div>

  </main>

  <script type="text/javascript" src="scripts/vendor.js"></script>
  <script>
     angular.module('PreloadedData', [])
       .constant('JawboneData', <%- JSON.stringify(user) %>);
  </script>
  <script type="text/javascript" src="scripts/jawbone-app.js"></script>

  <footer>
    <% include ../partials/footer %>
  </footer>
    
</body>
</html>