ul.header-titles {
	list-style: none;
	padding-left: 0px;
	padding-bottom: 2px;
	margin-bottom: 0px;
	margin-top: 20px;

	li {
		display: inline;
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		font-size: 120%;
		padding: 6px;
	    background-color: rgb(221, 221, 221);        
	    background-color: rgba(221, 221, 221, 0.6);		

		&.selected {
			background: white;
		    background-color: rgb(221, 221, 221);        
		    background-color: rgba(221, 221, 221, 0.3);		
		    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
		}

		a {
			cursor: pointer;
		}
	}

	li:first-child {
		border-left: 1px solid #ddd;
	}
}	
